
:root { --focus-outline-width: 1px !important; }

panel { padding-top: 4px; }

.panel-no-padding { --arrowpanel-border-color: rgb(111, 67, 208); }

.titlebar-spacer[type="pre-tabs"] { display: none !important; }

spacer[part="overflow-start-indicator"], spacer[part="overflow-end-indicator"] { display: none; }

#firefox-view-button {
    margin: auto !important;
}

#tabbrowser-tabs {
    border-inline-start: 0 !important;
    padding-inline-start: 0 !important;
    margin-inline-start: 0 !important;

    --lwt-tab-line-color: rgb(111, 67, 208);
}

#urlbar-container {
    --toolbar-field-focus-border-color: rgb(111, 67, 208);
    --arrowpanel-border-color: rgb(111, 67, 208) !important;
}

#navigator-toolbox {
    border-bottom: none !important;
}