
@-moz-document url("about:home"), url("about:newtab"), url("about:privatebrowsing"){
    .search-inner-wrapper{
        display: none !important;
    }
}

.customize-menu {
    border-radius: 10px;
    margin-right: 10px;
    height: 99% !important;
}